.app{
  margin-top: 20px;
}
ul{
  list-style: none;
  padding-left: 0;
}
.sign-up{
  width: 500px;
  margin: 30px auto;
}
.sign-up ul{
  list-style: none;
  padding-left: 100px;
}
.sign-up ul li{
  margin: 16px;
  text-align: left;
}
.sign-up ul li > label:first-child{
  /* '>' - 자식 선택자, ' ' - 공백은 후손 자택자 */
  float: left; /* 라벨을 왼쪽으로 띄움 */
  width: 80px;
  margin-right: 10px;
}
.sign-up ul li:last-child{ /* 버튼 항목 선택 */
  text-align: center; 
}
.sign-up ul li input[type="text"],
.sign-up ul li select,
.sign-up ul li textarea{
  padding: 5px;
  width: 200px;
}
.sign-up ul li textarea{
  resize: none; /* 크기 조절 안됨 */
}
.sign-up ul li button{
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}